body {
    background-color: #f9f9f9;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-emphasis: dot;
}

.contenedor {
    background: linear-gradient(to bottom, #078043, #05381e);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height: 450px;
    margin: auto;
    width: 400px;
}

.contenedor-inbut {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contenedor-inbut input {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    height: 26px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    width: 250px;
}

.contenedor-inbut input::placeholder {
    color: #fff;
}

.contenedor-inbut input:focus {
    animation: pulsar 1s linear;
    outline: none;
    transition: all 0.5s ease;
}

@keyframes pulsar {
    from {
        transform:  scale(0.9);
    }
    
    to {
        transform: scale(1);
    }
    
}

.contenedor-inbut button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #020303;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.contenedor-inbut button:hover {
    background-color: #1bb666;
}

.qr-code {
    border: 1px solid #fff;
    border-radius: 3px;
    height: 250px;
    margin: 20px auto;
    width: 250px;
}

.qr-code span {
    display: flex;
    color: #fff;
    content: "QR CODE";
    justify-content: center;
    margin: 100px 0;
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .contenedor {
        margin: 150px auto;
    }

    .contenedor-inbut input:focus {
        text-transform: lowercase;
    }

    .contenedor-inbut button {
        height: 36px;
    }
}